@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap');

body {
    font-family: 'Lato', sans-serif !important;
    font-family: 'Open Sans', sans-serif !important;
    background-color: rgb(238, 255, 248) !important;
}

.contact-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}